.linkdownload{
    opacity: 1;
    color: red;
}
.img{
    position: fixed;
}
.btSlides{
    width: 10%;
    height: 10%;
    position:absolute;
    top: 50%;
    
}

.catalogo{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    
    
}
.catalogo:hover{
    background-color:rgba(4, 0, 26, 0.9);
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../img/preloader2.gif') 50% 50% no-repeat rgb(255, 255, 255);
    
}

@media (max-width: 767px) {
    .btSlides {
        top: 45%
    }
  }

  